.main-container {
  background-color: white;
}

.item-text {
  font-family: "Nunito-Regular";
  text-align: center;
  color: #474748;
}

.item-title {
  font-family: "Nunito-Bold";
  text-align: center;
  color: white;
  background-color: #801CEC;
}

.list-container {
  padding: 10;
}

.item-container {
  padding-bottom: 10;
  padding-top: 10;
  margin-top: 10;
  margin-bottom: 10;
  border-color: #E4E4E4;
  border-top-width: 1;
  border-right-width: 1;
  border-left-width: 1;
  border-bottom-width: 3;
  border-radius: 4;
}

.bar-text {
  font-family: "Nunito-Black";
  color: white;
}
